In [3]:
import pandas as pd

### https://www.kaggle.com/muonneutrino/new-york-city-census-data

In [131]:
cansus=pd.read_csv("census_block_loc.csv")

In [132]:
#creating Census Track from BlockCode
cansus["BlockCode"]=cansus["BlockCode"].astype(str)
cansus["CensusTract"]=cansus.apply(lambda row: row.BlockCode[0:11], axis=1)

cansus.head()

   Latitude  Longitude        BlockCode     County State  CensusTract
0     40.48 -74.280000  340230076002012  Middlesex    NJ  34023007600
1     40.48 -74.276834  340230076005000  Middlesex    NJ  34023007600
2     40.48 -74.273668  340230076003018  Middlesex    NJ  34023007600
3     40.48 -74.270503  340230076003004  Middlesex    NJ  34023007600
4     40.48 -74.267337  340230074021000  Middlesex    NJ  34023007402

In [133]:
cansus.shape

(38396, 6)

In [136]:
#drop duplicates to avoid creating cartesian product while merging
new_cesus=cansus.drop_duplicates(subset="CensusTract")

In [137]:
new_cesus.shape

(2995, 6)

In [144]:
#renaming for consistency
new_cesus.rename(columns={"TRACT":"CensusTract"})

       Latitude  Longitude        BlockCode       County State  CensusTract
0         40.48 -74.280000  340230076002012    Middlesex    NJ  34023007600
4         40.48 -74.267337  340230074021000    Middlesex    NJ  34023007402
11        40.48 -74.245176  340230080015000    Middlesex    NJ  34023008001
15        40.48 -74.232513  360859901000011     Richmond    NY  36085990100
22        40.48 -74.210352  340258025001000     Monmouth    NJ  34025802500
...         ...        ...              ...          ...   ...          ...
38316     40.93 -73.900101  361190003003007  Westchester    NY  36119000300
38327     40.93 -73.865276  361190023001023  Westchester    NY  36119002300
38332     40.93 -73.849447  361190024011022  Westchester    NY  36119002401
38333     40.93 -73.846281  361190022042002  Westchester    NY  36119002204
38343     40.93 -73.814623  361190052003028  Westchester    NY  36119005200

[2995 rows x 6 columns]

In [ ]:
# getting census data from the same source as above

In [148]:
census_nyc=pd.read_csv("nyc_census_tracts.csv")

In [149]:
census_nyc.head()

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,36005000100,Bronx,Bronx,7703,7133,570,29.9,6.1,60.9,0.2,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,0.0,43.0,2308,80.8,16.2,2.9,0.0,7.7
2,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,1.4,0.5,2.1,45.0,2675,71.7,25.3,2.5,0.6,9.5
3,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,8.6,1.6,1.7,38.8,2120,75.0,21.3,3.8,0.0,8.7
4,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,3.0,2.4,6.2,45.4,1083,76.8,15.5,7.7,0.0,19.2

In [150]:
census_nyc.shape

(2167, 36)

In [151]:
census_nyc["CensusTract"]=census_nyc["CensusTract"].astype(str)
cesnus_with_lat = pd.merge(census_nyc, new_cesus, on='CensusTract', how="inner")

In [152]:
# after merging we lost a couple of records but no cartesian product
cesnus_with_lat.shape

(2152, 41)

In [158]:
cesnus_with_lat.head()

,CensusTract,County_x,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Latitude,Longitude,BlockCode,County_y,State
0,36005000100,Bronx,Bronx,7703,7133,570,29.9,6.1,60.9,0.2,...,NaN,NaN,NaN,NaN,NaN,40.787538,-73.887437,360050001001007,Bronx,NY
1,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,80.8,16.2,2.9,0.0,7.7,40.798844,-73.862111,360050002000001,Bronx,NY
2,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,71.7,25.3,2.5,0.6,9.5,40.801106,-73.852613,360050004000002,Bronx,NY
3,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,75.0,21.3,3.8,0.0,8.7,40.816935,-73.858945,360050016002000,Bronx,NY
4,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,76.8,15.5,7.7,0.0,19.2,40.794322,-73.903266,360050019000001,Bronx,NY

#### adding zipcodes based on 
### https://www.huduser.gov/portal/datasets/usps_crosswalk.html

In [249]:
census=pd.read_csv("census_block_loc.csv")

In [276]:
zips_and_cesus=pd.read_csv("ZIP_TRACT_122019_2.csv")

In [277]:
print(list(zips_and_cesus.columns))

['ZIP', 'TRACT', 'RES_RATIO', 'BUS_RATIO', 'OTH_RATIO', 'TOT_RATIO']

In [278]:
zips_and_cesus=zips_and_cesus[['ZIP', 'TRACT']]

In [279]:
#beacuse censu track in new_zip_and-cenus is integer we need to change it to str, to match the one in second data set
zips_and_cesus["TRACT"]=zips_and_cesus["TRACT"].astype(str)

In [280]:
zips_and_cesus.shape

(170189, 2)

In [281]:
new_zip_and_census=zips_and_cesus.drop_duplicates(subset="TRACT")

In [282]:
new_zip_and_census.shape

(73491, 2)

In [283]:
cesnus_with_lat.shape

(2152, 41)

In [284]:
new_zip_and_census.dtypes

ZIP       int64
TRACT    object
dtype: object

In [285]:
new_zip_and_census

          ZIP        TRACT
0         501  36103158607
1         601  72001956700
2         601  72113071700
3         601  72001956800
4         601  72001956600
...       ...          ...
170178  99903   2275000300
170179  99918   2198000100
170181  99921   2198000200
170183  99923   2198000300
170185  99926   2198940100

[73491 rows x 2 columns]

In [287]:
merged_census_final=pd.merge(cesnus_with_lat,  new_zip_and_census,  left_on="CensusTract", right_on="TRACT")

In [288]:
#merged resulted in few less rows, but at least without cartesian product
merged_census_final.shape

(2142, 43)

In [290]:
merged_census_final.head(15)

,CensusTract,County_x,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,SelfEmployed,FamilyWork,Unemployment,Latitude,Longitude,BlockCode,County_y,State,ZIP,TRACT
0,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,7.7,40.798844,-73.862111,360050002000001,Bronx,NY,10473,36005000200
1,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,2.5,0.6,9.5,40.801106,-73.852613,360050004000002,Bronx,NY,10462,36005000400
2,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,3.8,0.0,8.7,40.816935,-73.858945,360050016002000,Bronx,NY,10473,36005001600
3,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,7.7,0.0,19.2,40.794322,-73.903266,360050019000001,Bronx,NY,10454,36005001900
4,36005002000,Bronx,Bronx,8516,3301,5215,61.1,1.6,31.1,0.3,...,7.7,0.0,17.2,40.814673,-73.865276,360050020004000,Bronx,NY,10473,36005002000
5,36005002300,Bronx,Bronx,4774,2130,2644,62.3,0.2,36.5,1.0,...,9.7,0.0,18.9,40.807889,-73.925427,360050023003001,Bronx,NY,10454,36005002300
6,36005002400,Bronx,Bronx,150,109,41,0.0,52.0,48.0,0.0,...,0.0,0.0,0.0,40.807889,-73.865276,360050024000001,Bronx,NY,10473,36005002400
7,36005002500,Bronx,Bronx,5355,2338,3017,76.5,1.5,18.9,0.0,...,6.1,0.5,9.4,40.805628,-73.919095,360050025002000,Bronx,NY,10454,36005002500
8,36005002701,Bronx,Bronx,3016,1375,1641,68.0,0.0,31.2,0.0,...,4.5,0.0,15.2,40.805628,-73.915930,360050027012000,Bronx,NY,10454,36005002701
9,36005002702,Bronx,Bronx,4778,2427,2351,71.3,1.6,26.2,0.0,...,11.0,0.0,10.6,40.805628,-73.912764,360050027022001,Bronx,NY,10454,36005002702
10,36005002800,Bronx,Bronx,5299,2292,3007,23.0,0.2,71.4,0.0,...,0.6,0.0,12.8,40.819196,-73.881106,360050028001018,Bronx,NY,10473,36005002800
11,36005003100,Bronx,Bronx,1466,769,697,72.3,0.6,24.6,0.0,...,10.5,0.0,6.6,40.807889,-73.906432,360050031001010,Bronx,NY,10454,36005003100
12,36005003300,Bronx,Bronx,3912,1824,2088,65.6,1.0,30.6,1.7,...,5.9,0.0,18.5,40.807889,-73.912764,360050033002000,Bronx,NY,10454,36005003300
13,36005003500,Bronx,Bronx,3948,1921,2027,73.5,0.7,25.9,0.0,...,3.4,0.0,11.8,40.810151,-73.909598,360050035001003,Bronx,NY,10454,36005003500
14,36005003700,Bronx,Bronx,246,128,118,57.7,24.4,17.9,0.0,...,0.0,0.0,11.1,40.810151,-73.912764,360050037001000,Bronx,NY,10455,36005003700

In [ ]:
#add geo for connection later on

In [328]:
merged_census_final["Latitude"]=merged_census_final["Latitude"].astype(str)
merged_census_final["Longitude"]=merged_census_final["Longitude"].astype(str)

merged_census_final["geo4"]=merged_census_final.apply(lambda row: row.Latitude[0:7]+","+row.Longitude[0:8], axis=1)
merged_census_final["geo3"]=merged_census_final.apply(lambda row: row.Latitude[0:6]+","+row.Longitude[0:7], axis=1)
merged_census_final["geo2"]=merged_census_final.apply(lambda row: row.Latitude[0:5]+","+row.Longitude[0:6], axis=1)

In [329]:
merged_census_final.head()

,CensusTract,County_x,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Latitude,Longitude,BlockCode,County_y,State,ZIP,TRACT,geo4,geo3,geo2
0,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,40.798844221100005,-73.8621105528,360050002000001,Bronx,NY,10473,36005000200,"40.7988,-73.8621","40.798,-73.862","40.79,-73.86"
1,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,40.8011055276,-73.85261306529999,360050004000002,Bronx,NY,10462,36005000400,"40.8011,-73.8526","40.801,-73.852","40.80,-73.85"
2,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,40.8169346734,-73.85894472359999,360050016002000,Bronx,NY,10473,36005001600,"40.8169,-73.8589","40.816,-73.858","40.81,-73.85"
3,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,40.794321608000004,-73.9032663317,360050019000001,Bronx,NY,10454,36005001900,"40.7943,-73.9032","40.794,-73.903","40.79,-73.90"
4,36005002000,Bronx,Bronx,8516,3301,5215,61.1,1.6,31.1,0.3,...,40.8146733668,-73.8652763819,360050020004000,Bronx,NY,10473,36005002000,"40.8146,-73.8652","40.814,-73.865","40.81,-73.86"

In [330]:
merged_census_final.to_csv("merged_census_no_bouroughs.csv")

In [331]:
#kust making sure geo4 has unique values
drop_merged_census_final=merged_census_final.drop_duplicates(subset="geo4")
drop_merged_census_final.shape
# it does so can be merged on geo4

(2142, 46)

In [332]:
### how about addding neighborhoods

### https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data

In [333]:
zip_hood=pd.read_csv(r"C:\Users\Maryla\Desktop\school\CIS3920 Data Mining\data set for airbnb nyc.csv")

In [334]:
zip_hood.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,4204302,Prime W. Village location 1 bdrm,17550546,Genevieve,Manhattan,Greenwich Village,40.73293,-73.99782,Entire home/apt,180,1250,2,11/9/2014,0.03,1,365
1,1615764,NaN,6676776,Peter,Manhattan,Battery Park City,40.71239,-74.01620,Entire home/apt,400,1000,0,NaN,NaN,1,362
2,5431845,Beautiful Fully Furnished 1 bed/bth,3680008,Aliya,Queens,Long Island City,40.75104,-73.93863,Entire home/apt,134,500,30,6/24/2018,0.57,1,90
3,6169897,Wonderful Large 1 bedroom,10720264,John,Manhattan,Harlem,40.82135,-73.95521,Entire home/apt,75,500,0,NaN,NaN,1,362
4,8668115,Zen Room in Crown Heights Brooklyn,8996336,Laura,Brooklyn,Crown Heights,40.67255,-73.94914,Private room,50,500,10,9/22/2016,0.22,1,365

In [339]:
zip_hood["latitude"]=zip_hood["latitude"].astype(str)
zip_hood["longitude"]=zip_hood["longitude"].astype(str)

zip_hood["geo4"]=zip_hood.apply(lambda row: row.latitude[0:7]+","+row.longitude[0:8], axis=1)
zip_hood["geo3"]=zip_hood.apply(lambda row: row.latitude[0:6]+","+row.longitude[0:7], axis=1)
zip_hood["geo2"]=zip_hood.apply(lambda row: row.latitude[0:5]+","+row.longitude[0:6], axis=1)

In [340]:
zip_hood.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,geo4,geo3,geo2
0,4204302,Prime W. Village location 1 bdrm,17550546,Genevieve,Manhattan,Greenwich Village,40.732929999999996,-73.99781999999999,Entire home/apt,180,1250,2,11/9/2014,0.03,1,365,"40.7329,-73.9978","40.732,-73.997","40.73,-73.99"

In [341]:
new_zip_hood=zip_hood[["neighbourhood","geo4","geo3","geo2"]]

In [342]:
new_zip_hood.head(3)

       neighbourhood              geo4            geo3          geo2
0  Greenwich Village  40.7329,-73.9978  40.732,-73.997  40.73,-73.99
1  Battery Park City  40.7123,-74.0162  40.712,-74.016  40.71,-74.01
2   Long Island City  40.7510,-73.9386  40.751,-73.938  40.75,-73.93

In [343]:
new_zip_hood.shape

(48895, 4)

In [345]:
new_zip_hood_no_duplic=new_zip_hood.drop_duplicates(subset="geo2")
new_zip_hood_no_duplic.shape

(726, 4)

In [346]:
new_zip_hood_no_duplic.head(2)

       neighbourhood              geo4            geo3          geo2
0  Greenwich Village  40.7329,-73.9978  40.732,-73.997  40.73,-73.99
1  Battery Park City  40.7123,-74.0162  40.712,-74.016  40.71,-74.01

In [347]:
merged_census_final_with_hoods=pd.merge(merged_census_final,new_zip_hood_no_duplic, on="geo2" , how="left")

In [348]:
merged_census_final_with_hoods.shape

(2142, 49)

In [349]:
merged_census_final_with_hoods.head(20)

,CensusTract,County_x,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,County_y,State,ZIP,TRACT,geo4_x,geo3_x,geo2,neighbourhood,geo4_y,geo3_y
0,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,Bronx,NY,10473,36005000200,"40.7988,-73.8621","40.798,-73.862","40.79,-73.86",NaN,NaN,NaN
1,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,Bronx,NY,10462,36005000400,"40.8011,-73.8526","40.801,-73.852","40.80,-73.85",Clason Point,"40.8062,-73.8512","40.806,-73.851"
2,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,Bronx,NY,10473,36005001600,"40.8169,-73.8589","40.816,-73.858","40.81,-73.85",Clason Point,"40.8130,-73.8551","40.813,-73.855"
3,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,Bronx,NY,10454,36005001900,"40.7943,-73.9032","40.794,-73.903","40.79,-73.90",NaN,NaN,NaN
4,36005002000,Bronx,Bronx,8516,3301,5215,61.1,1.6,31.1,0.3,...,Bronx,NY,10473,36005002000,"40.8146,-73.8652","40.814,-73.865","40.81,-73.86",Clason Point,"40.8164,-73.8635","40.816,-73.863"
5,36005002300,Bronx,Bronx,4774,2130,2644,62.3,0.2,36.5,1.0,...,Bronx,NY,10454,36005002300,"40.8078,-73.9254","40.807,-73.925","40.80,-73.92",Mott Haven,"40.8098,-73.9214","40.809,-73.921"
6,36005002400,Bronx,Bronx,150,109,41,0.0,52.0,48.0,0.0,...,Bronx,NY,10473,36005002400,"40.8078,-73.8652","40.807,-73.865","40.80,-73.86",NaN,NaN,NaN
7,36005002500,Bronx,Bronx,5355,2338,3017,76.5,1.5,18.9,0.0,...,Bronx,NY,10454,36005002500,"40.8056,-73.9190","40.805,-73.919","40.80,-73.91",Port Morris,"40.8001,-73.9133","40.800,-73.913"
8,36005002701,Bronx,Bronx,3016,1375,1641,68.0,0.0,31.2,0.0,...,Bronx,NY,10454,36005002701,"40.8056,-73.9159","40.805,-73.915","40.80,-73.91",Port Morris,"40.8001,-73.9133","40.800,-73.913"
9,36005002702,Bronx,Bronx,4778,2427,2351,71.3,1.6,26.2,0.0,...,Bronx,NY,10454,36005002702,"40.8056,-73.9127","40.805,-73.912","40.80,-73.91",Port Morris,"40.8001,-73.9133","40.800,-73.913"
10,36005002800,Bronx,Bronx,5299,2292,3007,23.0,0.2,71.4,0.0,...,Bronx,NY,10473,36005002800,"40.8191,-73.8811","40.819,-73.881","40.81,-73.88",Hunts Point,"40.8140,-73.8899","40.814,-73.889"
11,36005003100,Bronx,Bronx,1466,769,697,72.3,0.6,24.6,0.0,...,Bronx,NY,10454,36005003100,"40.8078,-73.9064","40.807,-73.906","40.80,-73.90",NaN,NaN,NaN
12,36005003300,Bronx,Bronx,3912,1824,2088,65.6,1.0,30.6,1.7,...,Bronx,NY,10454,36005003300,"40.8078,-73.9127","40.807,-73.912","40.80,-73.91",Port Morris,"40.8001,-73.9133","40.800,-73.913"
13,36005003500,Bronx,Bronx,3948,1921,2027,73.5,0.7,25.9,0.0,...,Bronx,NY,10454,36005003500,"40.8101,-73.9095","40.810,-73.909","40.81,-73.90",Longwood,"40.8187,-73.9001","40.818,-73.900"
14,36005003700,Bronx,Bronx,246,128,118,57.7,24.4,17.9,0.0,...,Bronx,NY,10455,36005003700,"40.8101,-73.9127","40.810,-73.912","40.81,-73.91",Longwood,"40.8179,-73.9145","40.817,-73.914"
15,36005003800,Bronx,Bronx,1193,542,651,53.1,1.8,42.7,0.0,...,Bronx,NY,10473,36005003800,"40.8214,-73.8621","40.821,-73.862","40.82,-73.86",Soundview,"40.8252,-73.8600","40.825,-73.860"
16,36005003900,Bronx,Bronx,6614,3520,3094,82.0,1.9,16.1,0.0,...,Bronx,NY,10454,36005003900,"40.8078,-73.9190","40.807,-73.919","40.80,-73.91",Port Morris,"40.8001,-73.9133","40.800,-73.913"
17,36005004001,Bronx,Bronx,1419,675,744,51.3,11.2,10.8,0.0,...,Bronx,NY,10472,36005004001,"40.8282,-73.8589","40.828,-73.858","40.82,-73.85",Unionport,"40.8259,-73.8520","40.825,-73.852"
18,36005004100,Bronx,Bronx,6476,3125,3351,75.8,0.5,23.4,0.0,...,Bronx,NY,10454,36005004100,"40.8101,-73.9190","40.810,-73.919","40.81,-73.91",Longwood,"40.8179,-73.9145","40.817,-73.914"
19,36005004200,Bronx,Bronx,7120,3147,3973,46.5,5.1,47.0,0.0,...,Bronx,NY,10473,36005004200,"40.8214,-73.8652","40.821,-73.865","40.82,-73.86",Soundview,"40.8252,-73.8600","40.825,-73.860"

In [350]:
merged_census_final_with_hoods.to_csv("merged_census_final_with_hoods.csv")

### THIS IS FINAL VERSION FOR CENSUS DATA